* {
    margin: 0;
    padding: 0;
}
ul,li {
    list-style: none;
}

.liderWrap {
    position: relative;
    width: 700px;
    height: 445px;
    margin: 40px auto;
}


/* ul */

.focus .scrollimg {
    width: 100%;
    height: 100%;
}
.scrollimg li {
    float: left;
    width: 100%;
    height: 100%;
}

.scrollimg li a {
    width: 100%;
    text-decoration: none;
    display: block;
}


.scrollimg li a img {
    width: 100%;
    height: 445px;
    vertical-align: top;
     user-select: none;
}


/* 清除浮动 */

.clearfix::after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}


.item-small-wrap {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: 40px;
    right: 50%;
    width: 200px;
    height: 16px;
    transform: translate(50%,0) ;
}
.item-small-wrap li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #666;
    box-sizing: border-box;
}
.item-small-wrap li:hover {
    background-color: gold;
    border: 2px solid #fff;
}
.item-small-wrap li.active {
    background-color: orange;
}
.lfbtn {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    cursor: pointer;
    border-radius:0 10px 10px 0;
    color: rgba(248, 248,248, .2);
}
.lfbtn:hover {
    background-color: #eee;
    opacity: 0.3;
    color: #fff;
    user-select: none;
}
.rtbtn{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    cursor: pointer;
    border-radius:10px 0 0 10px;
    color: rgba(248, 248,248, .2);
}
.rtbtn:hover {
    background-color: #eee;
    opacity: 0.3;
    color: #fff;
    user-select: none;
}